<form>
  <label for="height">
    身長
    <input
      type="text"
      id="height"
      (keyup)="(0)"
      (keyup)="calcurate(parseInt(height.value), parseInt(weight.value))"
      #height
    />
  </label>
  <label for="weight"
    >体重
    <input
      type="text"
      id="weight"
      (keyup)="(0)"
      (keyup)="calcurate(parseInt(height.value), parseInt(weight.value))"
      #weight
    />
  </label>
  <div>
    BMI:<span id="bmi" *ngIf="isdisplay(bmi)">{{ bmi }}</span>
  </div>
</form>
